{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "chromatic_app/includes/head.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'chromatic_app/css/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chromatic_app/css/global_styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'chromatic_app/css/upload_image.css' %}">
        <title>Chromatic Home Page</title>
    </head>
    <body>
        {% include "chromatic_app/includes/navbar.html" %}
        {% include "chromatic_app/includes/messages.html" %}
        <div class="container mainContainer">
            <div class="row">
                <div class="col-md-10">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group m-3">
                            <label>Caption</label>
                            <input name="caption" type="text" class="form-control" placeholder="Enter a caption for the image" />
                        </div>
                        <div class="form-group m-3">
                            <label>Choose image file</label>
                            <input name="imagefile" type="file" class="form-control-file" />
                        </div>
                        <div class="form-group">
                            <button class="special-button" type="submit">Upload</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    {% include "chromatic_app/includes/afghanistan_donation.html" %}
                </div>
            </div>
        </div>
        <script>
            function showImageModal(src) {
                $('#imageModal').modal('show');
                $('#imageModalImg').attr('src', src);
            }

            function hideImageModal() {
                $('#imageModal').modal('hide');
            }
        </script>
        {% include "chromatic_app/includes/scripts.html" %}
    </body>
</html>